.react-autosuggest__container {
  position: relative;

  .react-autosuggest__input {
    border-radius: 2px;
    border: solid 1px #b4c2d4;
    padding: 10px;
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 4px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .suggestion_container {
    position: absolute;
    background: #fff;
    z-index: 1;
    width: 100%;
  }

  .suggestion_item {
    padding: 4px 0;
    font-weight: 400;
  }

  &--open {
    .suggestion_container {
      padding: 4px 8px;
      border: 1px solid #ddd;
    }
  }
}
